/*
úvod do každého dokumentu
*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    background: rgb(201, 201, 201);
}

h1{
    margin: 15px;
}

.button{
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background: white;
    letter-spacing: 1px;
}

.button:hover{
    background: black;
    color: white;
}

p{
    margin-left: 15px;
    margin-top: 10px;
}